

packages/dynamicons/ext/assets-staging
libs/vscode-test-cli-config/.vscode-test

**/*removed
**/*inactive
*.bak*



#= COMPILED OUTPUT ==========================================
dist
tmp
out-tsc/
_out-tsc/
*.tsbuildinfo
vsix_packages
coverage

__tests__/coverage
**/_reports



#= DEPENDENCIES =============================================
node_modules
.pnp
.pnp.js
.yalc

#= IDES AND EDITORS =========================================
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

#= IDE - VSCODE =============================================
!.vscode/*
mockly-vsc

#= Nx =======================================================
.nx
.nx/cache
.nx/workspace-data

#= MISC =====================================================
/.sass-cache
/connect.lock
/libpeerconnection.log
npm-debug.log
testem.log
/typings
stats

#= SYSTEM FILES =============================================
.DS_Store
*.pem
Thumbs.db










.github/instructions/nx.instructions.md

.cursor/rules/nx-rules.mdc
.cursor/ADHOC
.cursor/conversation-memories



# git ls-files -ci --exclude-standard
# git ls-files "**/.nx/**"

# git rm -r --cached "**/dynamicons/core/coverage/**"

# # Remove tracked bt ignored
# git rm --cached $(git ls-files -ci --exclude-standard)





