#= COMPILED OUTPUT ==========================================
dist
tmp
out-tsc
*.tsbuildinfo
vsix_packages

#= DEPENDENCIES =============================================
node_modules
.pnp
.pnp.js
.yalc

#= IDES AND EDITORS =========================================
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

#= IDE - VSCODE =============================================
!.vscode/*
mockly-vsc


#= MISC =====================================================
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
stats

#= SYSTEM FILES =============================================
.DS_Store
*.pem

**/*.notesHub*
**/*removed*
*.bak*

Thumbs.db

.nx/cache
.nx/workspace-data
.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md



# Ignored by F-UX Notes Hub
/.fux_note-hub/



vite.config.*.timestamp*
vitest.config.*.timestamp*
