# 1. Ignore everything by default.
**/*

# 2. Re-include the bundled extension code.
!dist/extension.cjs
!dist/extension.cjs.map
!dist/index.cjs
!dist/index.cjs.map

# 3. Re-include the assets.
!assets/**

# 4. Re-include the production node_modules.
!node_modules/**

# 5. Re-include essential package metadata.
!package.json
!README.md
!LICENSE.txt
!CHANGELOG.md