{
  "name": "<%= projectName %>",
  "$schema": "../../../node_modules/nx/schemas/project-schema.json",
  "sourceRoot": "<%= packageRoot %>/src",
  "projectType": "library",
  "targets": {
    "build": {
      "extends": "build:core"
    },
    "lint": {}
  },
  "tags": ["type:core"]
} 